
.img-fluid{
	box-shadow: 0 0 9px 0px #cecece;
	background: #f1f1f1;
}

@media (min-width:576px) {
	.img-fluid{
		padding: 22px;
		margin-top: 10px;
		margin-left: 20px;
	}
	.zhuti1{
		height: 234px;
	}
	.zhuti2{
		height: 346px;
		padding:2rem 4rem;
	}
	.h3_title{
		font-size: 32px;
		width: 100%;
	}
	.text4{
		font-size: 32px;
	}
	.last_section{
		margin-top: 4rem;
	}
	.lastimg{
		position: absolute;
		top: -10%;
		left: 15%;
		width: 70%;
	}
}
@media (min-width:768px) {
	.img-fluid{
		padding: 28px;
		margin-top: 10px;
		margin-left: 30px;
	}
	.zhuti1{
		height: 222px;
	}
	.zhuti2{
		padding:2rem 8rem;
	}
	.h3_title{
		font-size: 36px;
	}
	.text4{
		font-size: 34px;
	}
	.last_section{
		margin-top: 5rem;
	}
	.lastimg{
		position: absolute;
		top: -35%;
		left: 10%;
		width: 80%;
	}
}
@media (min-width:992px) {
	.img-fluid{
		padding: 36px;
		margin-top: 10px;
		margin-left: 55px;
	}
	.zhuti1,.zhuti2{
		height: 383px;
	}
	.zhuti2{
		padding: 3rem 1.5rem;
	}
	.h3_title{
		width: 60%;
	}
	.text4{
		font-size: 38px;
	}
	.last_section{
		margin-top: 2rem;
	}
	.lastimg{
		position: absolute;
		top: -6%;
		left: 15%;
		width: 70%;
	}
}
@media (min-width:1200px) {
	.zhuti2{
		padding: 3rem 3.5rem;
	}
	.lastimg{
		position: absolute;
		top: -20%;
		left: 10%;
		width: 80%;
	}
}
.color-one{
	background: rgba(230, 90, 155, 0.8);
}
.color-two{
	background: rgba(24, 168, 224, 0.8);
}
.color-three{
	background: rgba(199, 195, 49, 0.8);
}
.color-four{
	background: rgba(236, 136, 19, 0.8);
}
.h3_title{
	font-family: 'Righteous', cursive;
	color: #000;
	font-size: 39px;
	position: absolute;
	top: 20%;
	left: 6%;
	line-height: 1.2;
}
.h4_title{
	font-size: 24px;
	color: #fff;
	text-transform: capitalize;
}
.text1{
	font-size: 60px;
	color: #000;
	font-family: 'Edwardian Script ITC';
	font-weight: 400;
}
.text2{
	padding: 4rem 1rem;
}
.text4{
	color: #000;
	font-weight: 400;
	text-transform: capitalize;
	font-family: 'Brush Script MT';
	font-size: 38px;
}
.text5{
	text-align: center;
	font-size: 39px;
	color: #000000;
	font-family: 'Bradley Hand ITC';
}
.bg_last{
	background: #ec8813;
}
.title2{
	font-family:'Edwardian Script ITC';
}
.title2>a{
	font-size: 21px;
	color: #000000;
	text-decoration: none;
}
.pt_a{
	padding-top: 130px;
}
